<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>
        Session/Index Works.
        <br />
        ViewBag Session = @ViewBag.Session
    </p>
</body>

</html>